# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
FALLBACK_LANGUAGE=

ENABLE_SWAGGER=

DATABASE_URL=

JWT_SECRET=

EMAIL_USER=
EMAIL_PASS=

JWT_SECRET=
JWT_TOKEN_EXPIRATION_TIME_IN_HOURS=
REFRESH_TOKEN_EXPIRATION_TIME_IN_HOURS=

APP_EMAIL=
APP_USERNAME=

MAIL_TRANSPORT_HOST=
MAIL_TRANSPORT_PORT=
GOOGLE_APP_PASSWORD=
GOOGLE_MAIL=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

PASSWORD_STRENGTH_SCORE=
TOKEN_EXPIRATION_TIME_IN_HOURS=

RESET_PASSWORD_MAX_ATTEMPTS=
RESET_PASSWORD_RESET_INTERVAL_IN_SECOND=

SALT_ROUNDS=
REFRESH_TOKEN_SALT_ROUNDS=
