<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Email Confirmation</title>
  </head>
  <body style='font-family: Arial, sans-serif;'>

    <div
      style='max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f4f4f4; border-radius: 10px;'
    >

      <h2 style='color: #333;'>Hi {{username}},</h2>

      <p>
        You're almost there! 🌟 To complete your signup for TYME, we just need
        to confirm your email address.
      </p>

      <p>👉 Please click on the button below to confirm your email address:</p>

      <a
        href='{{confirmationLink}}'
        style='display: inline-block; padding: 10px 20px; background-color: #3498db; color: #fff; text-decoration: none; border-radius: 5px;'
      >Confirm Email Address</a>

      <p>If you're having trouble with the button, you can also confirm your
        email address by clicking on the link below or copying it into your
        browser:</p>

      <a href='{{confirmationLink}}'>{{confirmationLink}}</a>

      <p>Why confirm? It's a quick step to ensure your email is correct and it
        secures your account with us. Plus, it unlocks full access to our
        services.</p>

      <p>
        <b>Once confirmed, here's what you can look forward to:</b>
      </p>

      <ol>
        <li><b>Explore All Features</b>: Dive into our full range of services
          and see what makes us special.</li>
        <li>
          <b>Customize Your Experience</b>: Set up your profile for a
          personalized touch.
        </li>
        <li><b>Stay in the Loop</b>: Follow us on Facebook, Instagram, Twitter
          for updates, tips, and community stories.</li>
      </ol>

      <p>Got questions or need assistance? We're here to help! Just reply to
        this email, and our support team will be right with you.</p>

      <p>Thank you for joining TYME. We're excited to have you on board and
        can't wait to see what you do.</p>

      <p><b>Didn't Sign Up?</b></p>
      <p>If you didn't register on our website, you can safely ignore this
        email. Your email address will not be used, and no account will be
        created. If you have any concerns, feel free to contact us.</p>

    </div>

  </body>
</html>
